<div class="main" fxLayoutGap="2%" fxLayoutAlign="start">

        <div class="note">
            <div class="name" fxLayout="row" fxLayoutGap="5%">
                <h3  ><b>Name :</b></h3>
                <h3>{{name}}</h3>
            </div>

            <div fxLayout="row" fxLayoutGap="5%">
                <h3><b>Email :</b></h3>
                <h3>{{email}}</h3>
            </div>

            <div fxLayout="row" fxLayoutGap="5%">
                <h3><b>Age :</b></h3>
                <h3> {{dob | birthday}}</h3>
            </div>

            <div fxLayout="row" fxLayoutGap="5%">
                <h3><b>Address :</b></h3>
                <h3> {{address}}</h3>
            </div>

            <div fxLayout="row" fxLayoutGap="5%">
                <h3><b>Country :</b></h3>
                <h3> {{country}}</h3>
            </div>


        </div>

</div>