<!-- <div  fxLayoutAlign="center center">
    <div fxFlex="74" fxLayout="column" fxLayoutAlign="space-around center" >



        <div class="searchdiv" fxLayoutAlign="space-between center">
            <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="100">
                <button mat-icon-button class="search-button">
                    <mat-icon id="search" matTooltip="Search">search</mat-icon>
                </button>

                <input [(ngModel)]="message" (keyup)="newMessage()"  fxFlex="50" matInput placeholder="Search"
                    [style.fontSize.px]="16" class="search-window" autocomplete="off" type="text" />


            </mat-form-field>
        </div>



        <table>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Age</th>
                <th>Address</th>
                <th>Country</th>
            </tr>
            <tr  *ngFor="let content of nameArr | filter:searchString" >
                <td (click)="openDialog(content)">{{content.name}}</td>
                <td>{{content.emailid}}</td>
                <td>{{content.birthDate | birthday}}</td>
                <td>{{content.address}}</td>
                <td>{{content.country}}</td>

            </tr>
        </table>

        <div class="text">
            <button routerLink="/entry">Click to go Entry Page</button>
        </div>
    </div>
</div> -->




<div class="searchdiv" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="100">
        <button mat-icon-button class="search-button">
            <mat-icon id="search" matTooltip="Search">search</mat-icon>
        </button>

        <input [(ngModel)]="message" (keyup)="newMessage()" fxFlex="50" matInput placeholder="Search"
            [style.fontSize.px]="16" class="search-window" autocomplete="off" type="text" />


    </mat-form-field>
</div>

<div class="text">
    <button routerLink="/entry">Click to go Entry Page</button>
</div>


<div class="main" fxLayoutGap="2%" fxLayoutAlign="start">
    <mat-card *ngFor="let content of nameArr | filter:searchString" class="matcard" fxLayout="column" fxFlex="23"
        fxFlex.xs="100" fxFlex.sm="40">

        <div class="note">
            <div class="name" (click)="openDialog(content)" fxLayout="row" fxLayoutGap="5%">
                <h3  ><b>Name :</b></h3>
                <h3>{{content.name}}</h3>
            </div>

            <div (click)="openDetails(content)" fxLayout="row" fxLayoutGap="5%">
                <h3><b>Email :</b></h3>
                <h3>{{content.emailid}}</h3>
            </div>

            <div (click)="openDetails(content)" fxLayout="row" fxLayoutGap="5%">
                <h3><b>Age :</b></h3>
                <h3> {{content.birthDate | birthday}}</h3>
            </div>

            <div (click)="openDetails(content)" fxLayout="row" fxLayoutGap="5%">
                <h3><b>Address :</b></h3>
                <h3> {{content.address}}</h3>
            </div>

            <div (click)="openDetails(content)" fxLayout="row" fxLayoutGap="5%">
                <h3><b>Country :</b></h3>
                <h3> {{content.country}}</h3>
            </div>


        </div>

    </mat-card>
</div>